<section id="hero" class= "hero u-full-width">
  <div class="hero-image"></div>
    <div class="container signup">
      <div class="row">
        <div class="offset-by-one ten columns">
          <div class="hero-heading form-centered">
            <h1>Login</h1>

            <%= form_tag '/login' do %>

              Email: <%= text_field_tag :email %><br>
              Password: <%= password_field_tag :password %><br>
              <%= submit_tag "Submit", :class => 'button button-primary' %>
              <br>
              <br>
              <h6>If you are in crisis, <%= link_to "here", "http://www.sfsuicide.org/" %> are some immediate resources that may better meet your needs:</h6>

                  <p><%= link_to "24/7 hotlines", "http://www.sfsuicide.org/" %>, <%= link_to "Chat", "http://chat.suicidepreventionlifeline.org/GetHelp/LifelineChat.aspx" %>
                  <br>
                  or text "MYLIFE" to 741741


            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
