<section id="hero" class= "hero u-full-width">
  <div class="hero-image"></div>
    <div class="container signup">
      <div class="row">
        <div class="offset-by-one ten columns">
          <div class="hero-heading form-centered">
            <h1>Sign up</h1>

            <%= form_for :user, url: '/users' do |f| %>

              Name*: <%= f.text_field :name %><br>
              Email*: <%= f.text_field :email %><br>
              City: <%= f.text_field :city %><br>
              State: <%= f.text_field :state %><br>
              Phone: <%= f.text_field :phone %><br>
              Password*: <%= f.password_field :password %><br>
              Password Confirmation*: <%= f.password_field :password_confirmation %><br>
              <%= f.submit "Submit", :class => 'button button-primary' %>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
