<section id="hero" class= "hero u-full-width">
  <div class="hero-image"></div>
    <div class="container welcome-about">
      <div class="row">
        <div class="offset-by-one ten columns">
          <div class="hero-heading">
            <%= image_tag "logo.png", :class => "hivemind-big" %>

            <h3>help your friends help you.</h3>
            <p>Feeling twisty inside and know you need help from that one person?
              Hivemind helps you put words to that twisty feeling.
              Use our build-a-text magic wizard to untwist your tongue and formulate a clear, simple request for help.
              You are great, and your best people agree.
              Help them help you.
            </p>
          </div>
          <%= link_to "Try Hivemind", signup_path, class: 'button button-primary' %>
          <br>
          <br>
          <hr>
        </div>
      </div>
    </div>
  </section>

  <section id="introduction" class="introduction u-full-width">
    <div class="container">
      <div class="row">

        <h3>how it works</h3>

        <div class="one-third columns">
          <%= image_tag "Hexagon.png", :class => "hexagon-about" %>
          <h5 class="introduction-heading"><%= link_to "sign up", signup_path %></h5>
          <p class="introduction-description">Sign up with your name, email.</p>
        </div>

        <div class="one-third columns">
          <%= image_tag "Hexagon.png", :class => "hexagon-about" %>
          <h5 class="introduction-heading"><%= link_to "add contacts", contacts_new_path %></h5>
          <p class="introduction-description">Start adding your favorite people. You know who they are.</p>
        </div>

        <div class="one-third columns">
          <%= image_tag "Hexagon.png", :class => "hexagon-about" %>
          <h5 class="introduction-heading"><%= link_to "build and send that text!", new_text_path %></h5>
          <p class="introduction-description">We'll help sort out your full request for help: from what that twisty feeling is, all the way to what you need (and when!) from your support network.</p>
        </div>

      </div>
    </div>
  </section>
