<section id="hero" class= "hero u-full-width">
  <div class="hero-image"></div>
    <div class="container profile">
      <div class="row">
        <div class="offset-by-two eight columns">
          <div class="hero-heading">

            <div class="user-info">

<div class="hello-user">
  <%= image_tag "hi_logo.png", :class => "hi-big" %> <h1><%= current_user.name%>!</h1>

</div>
              <br>
              Name: <%= current_user.name %>
              <br>
              Email: <%= current_user.email %>
              <br>
              Phone: <%= current_user.phone %>
              <br>
              <%= current_user.city %>, <%= current_user.state %>
              <br>
              <%= link_to "Edit", users_edit_path(current_user), :class => 'button button-primary' %>
              <%= link_to "Delete My Account", pages_profile_path, :class => 'button button-primary' %>
              <hr>
            </div>

          </div>
        </div>
      </div>
    </div>
</section>



<!-- ACTIONS -->
  <section id="introduction" class= "hero u-full-width">
    <div class="hero-image"></div>
      <div class="container welcome-about">
        <div class="row">
          <div class="offset-by-one ten columns">
            <div class="hero-heading">

              <div class="six columns">

                <h5>Showing <%= current_user.contacts.count %> out of <%= current_user.contacts.count %> contacts</h5>
                <br>
                <br>
                <%= link_to "Add Contact", contacts_new_path, :class => 'button button-primary' %>
                <br>
                <br>
                <% if current_user %>
                  <%= current_user.contacts.each do |contact| %>
                    <br>
                    <%= contact.name %>
                    <br>
                    <%= contact.phone %>
                    <br>
                    <br>
                  <% end %>
                <% end %>
                <br>
                <br>
              <%= link_to "Manage My Contacts", contacts_path %>

              </div>

              <div class="six columns">
                <h5>Already see your preferred contact to the left here? Use our Build-A-Text tool to help you word that request.</h5>
                <h5 class="profile-actions"><%= link_to "Build a Text", new_text_path, :class => 'button button-primary' %></h5>
                <hr>
              </div>

          </div>
        </div>
      </div>
  </section>



<!-- QUANTIFIED SELF -->
  <section id="hero" class= "hero u-full-width">
    <div class="hero-image"></div>
      <div class="container welcome-about">
        <div class="row">
          <div class="offset-by-one ten columns">
            <div class="hero-heading">

              <div class="quantified-self">
                <hr>
                <h3>Feel like exploring your <%= link_to '#quantifiedself', 'https://twitter.com/hashtag/quantifiedself?lang=en' %>?</h3>
                <hr>
              </div>

              <div class="container emotion-viz">
                <div class="profile-block">
                  <%= image_tag "emotion-viz-demo.png", :class => "profile-data-pic" %>
                </div>
              </div>

              <div class="container contact-viz">
                <div class="profile-block">
                  <h5>Your top 3 Contacts</h5>
                  <hr>
                  <%= image_tag "contacts-viz-demo.png", :class => "profile-data-pic" %>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
