<section id="hero" class= "hero u-full-width">
  <div class="hero-image"></div>
    <div class="container welcome-about">
      <div class="row">
        <div class="offset-by-one ten columns">
          <div class="hero-heading">

            <h1>My Contacts</h1>

            <%= link_to "Add A Contact", contacts_new_path %>
            <%= link_to "Build a Text", new_text_path %>

            <br>
            <br>

            <% if current_user %>
              <%= current_user.contacts.each do |contact| %>
                <br>
                <%= contact.name %>
                <br>
                <%= contact.phone %>
                <br>
                <hr>
              <% end %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
</section>
