<%= form_for @text do |f| %>
  <% if @text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(text.errors.count, "error") %> prohibited this text from being saved:</h2>

      <ul>
      <% text.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= form_for @text do |f| %>

  <div class="form-group">
    Pick a contact: <%= f.collection_select :contact_id, @contacts, :id, :name,  class: "form-control", autofocus: true %>
  </div>


  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>

  <div class="field">
    <%= f.label :signature %>
    <%= f.text_field :signature %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
