<section id="hero" class= "hero u-full-width">
  <div class="hero-image"></div>
    <div class="container signup">
      <div class="row">
        <div class="offset-by-one ten columns">
          <div class="hero-heading form-centered">

            <%= form_for(text) do |f| %>

              <% if text.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(text.errors.count, "error") %> prohibited this text from being saved:</h2>

                  <ul>
                  <% text.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="form-group">
                Pick a contact: <%= f.collection_select :contact_id, @contacts, :id, :name,  class: "form-control", autofocus: true %>
              </div>

              <div class="form-group">
                <p>
                  <br>
                    <div class="field">
                      Hey, I'm feeling <%= f.text_field :emotion, placeholder: "anxious" %> <%= f.select :emotion, @emotions_array %>
                    </div>
                    <div class="field">
                      and I need <%= f.text_field :need, placeholder: "to go for a walk" %> <%= f.select :emotion, @needs_array %>.
                    </div>
                    <br>
                    <div class="field">
                      Can <%= f.text_field :who, placeholder: "you" %> <%= f.select :who, @who_array %>
                    </div>
                    <div class="field">
                      <%= f.text_field :action, placeholder: "come over" %> <%= f.select :action, @actions_array %>
                    </div>
                    <div class="field">
                      <%= f.text_field :timeframe, placeholder: "later today"%> <%= f.select :timeframe, @timeframe_array %>?
                    </div>
                </p>
              </div>


              <div class="actions">
                <%= f.submit "Save Draft and See My Text", :class => "button button-primary" %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
</section>
