<section id="hero" class= "hero u-full-width">
  <div class="hero-image"></div>
    <div class="container welcome-about">
      <div class="row">
        <div class="offset-by-one ten columns">
          <div class="hero-heading">

            <p id="notice"><%= notice %></p>

            <h1>Texts</h1>

            <br>
            <%= link_to 'Build a New Text', new_text_path, :class => 'button button-primary' %>
            <br>
            <br>

            <table>
              <thead>
                <tr>
                  <th>Sent To</th>
                  <th>Emotion</th>
                  <th>Need</th>
                  <th>Who</th>
                  <th>Action</th>
                  <th>Timeframe</th>
                  <th>Body</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <%= if current_user %>
                  <% @texts.each do |text| %>
                    <tr>
                      <td><%= text.contact_id %></td>
                      <td><%= text.emotion %></td>
                      <td><%= text.need %></td>
                      <td><%= text.who %></td>
                      <td><%= text.action %></td>
                      <td><%= text.timeframe %></td>
                      <td><%= "Hey I'm feeling #{text.emotion} and I need #{text.need}. Can #{text.who} #{text.action} #{text.timeframe}?" %></td>
                      <td><%= link_to 'Show', text %></td>
                      <td><%= link_to 'Edit', edit_text_path(text) %></td>
                      <td><%= link_to 'Destroy', text, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                <% end %>

              </tbody>
            </table>


          </div>
        </div>
      </div>
    </div>
</section>
