<!DOCTYPE html>
<html>
  <head>
    <title>Hivemind1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- NAVBAR -->
    <nav class="navigation">
      <!-- <a href="#" class="menu-icon">
        <i class="fa fa-bars"></i>
      </a> -->
      <ul class="main-navigation">

        <!-- PUBLIC LINKS -->
        <li class="navbar-item"><%= link_to "home", root_path %></li>
        <li class="navbar-item"><%= link_to "about", pages_about_path %></li>

        <!-- DYNAMIC LINK CONTROL -->
        <% if current_user %>
          <li class="navbar-item"><%= link_to "log out", logout_path %></li>
          <li class="navbar-item"><%= link_to "profile", pages_profile_path(@user) %></li>
          <li class="navbar-item"><%= link_to "build a text!", new_text_path %></li>
          <li class="navbar-item"><%= link_to "add contact!", contacts_new_path(@user) %></li>
          <li class="user-greeting">
            <% if current_user %>
                Successfully signed in as <%= current_user.name %>
            <% end %>
          </div>
        <% else %>
          <li class="navbar-item"><%= link_to "log in", login_path %></li>
          <li class="navbar-item"><%= link_to "sign up", signup_path %></li>
        <% end %>
      </ul>
    </nav>

    <%# TODO: change to flash? delete? %>

    <%= yield %>
  </body>
</html>
