<!DOCTYPE html>
<html>
  <head>
    <title>Hivemind1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- NAVBAR -->
    <nav class="navigation">

      <ul class="main-navigation">

        <!-- PUBLIC LINKS -->
        <li class="navbar-item"><%= link_to "Home", root_path %></li>
        <li class="navbar-item"><%= link_to "About", pages_about_path %></li>

        <!-- DYNAMIC LINK CONTROL -->
        <% if current_user %>
          <li class="navbar-item"><%= link_to "Log Out", logout_path %></li>
          <li class="navbar-item"><%= link_to "Profile", pages_profile_path(@user) %></li>
          <li class="navbar-item"><%= link_to "Build a Text!", new_text_path %></li>
          <li class="navbar-item"><%= link_to "Add Contact!", contacts_new_path(@user) %></li>
          <li class="user-greeting">
            <% if current_user %>
                Successfully signed in as <%= current_user.name %>
            <% end %>
          </div>
        <% else %>
          <li class="navbar-item"><%= link_to "Log In", login_path %></li>
          <li class="navbar-item"><%= link_to "Sign Up", signup_path %></li>
        <% end %>
      </ul>
    </nav>


    <%= yield %>
  </body>
</html>
