<!DOCTYPE html>
<html>
  <head>
    <title>Hivemind1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- NAVBAR -->
    <nav class="navigation">
      <a href="#" class="menu-icon">
        <i class="fa fa-bars"></i>
      </a>
      <ul class="main-navigation">
        <!-- PUBLIC LINKS -->
        <li class="navbar-item"><%= link_to "home", root_path %></li>
        <li class="navbar-item"><%= link_to "about", pages_about_path %></li> <%# TODO: change to link_to %>
        <!-- DYNAMIC LINK CONTROL -->
        <% if current_user %>
          <li class="navbar-item"><%= link_to "log out", logout_path %></li>
          <li class="navbar-item"><%= link_to "profile", pages_profile_path(@user) %></li> <%# TODO: add profile link_to here %>
          <li class="navbar-item"><%= link_to "text!", root_path %></li>
        <% else %>
          <li class="navbar-item"><%= link_to "log in", login_path %></li>
          <li class="navbar-item"><%= link_to "sign up", signup_path %></li>
        <% end %>
      </ul>
    </nav>

<div class="user-greeting">
  <% if current_user %>
      Hello <%= current_user.name %>!
  <% end %>
</div>

    <%= yield %>
  </body>
</html>
